In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
ctr=pd.read_csv('C:\CTR_Prediction\ctr.csv')

In [6]:
ctr

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
0,62.26,32,69481.85,172.83,Decentralized real-time circuit,Lisafort,Male,Svalbard & Jan Mayen Islands,6/9/2016 21:43,0
1,41.73,31,61840.26,207.17,Optional full-range projection,West Angelabury,Male,Singapore,1/16/2016 17:56,0
2,44.40,30,57877.15,172.83,Total 5thgeneration standardization,Reyesfurt,Female,Guadeloupe,6/29/2016 10:50,0
3,59.88,28,56180.93,207.17,Balanced empowering success,New Michael,Female,Zambia,6/21/2016 14:32,0
4,49.21,30,54324.73,201.58,Total 5thgeneration standardization,West Richard,Female,Qatar,7/21/2016 10:54,1
...,...,...,...,...,...,...,...,...,...,...
9995,41.73,31,61840.26,207.17,Profound executive flexibility,West Angelabury,Male,Singapore,1/3/2016 3:22,1
9996,41.73,28,51501.38,120.49,Managed zero tolerance concept,Kennedyfurt,Male,Luxembourg,5/28/2016 12:20,0
9997,55.60,39,38067.08,124.44,Intuitive exuding service-desk,North Randy,Female,Egypt,1/5/2016 11:53,0
9998,46.61,50,43974.49,123.13,Realigned content-based leverage,North Samantha,Female,Malawi,4/4/2016 7:07,1
9999,46.61,43,60575.99,198.45,Optimized upward-trending productivity,Port Jeffrey,Male,Northern Mariana Islands,4/3/2016 21:13,1

### Summary of Click-through rate Dataset:-
#### this dataset about 10000 users