In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
ctr=pd.read_csv('C:\CTR_Prediction\ctr.csv')

#### Issues with Dataset and Solution

1. Dirty Data
- **`Daily Time Spent on Site->`** 
    - Zero null value
    - Convert datatype into float32
    - Not Normal Distribution

- **`Age`**
    - Zero null value
    - Convert datatype into int32
    - Almost Normal Ditribution

- **`Area Income`**
    - Zero null value
    - almost normal distribution

- **`Daily Internet Usage`**
    - Zero null value
    - almost normal distribution
    
- **`Ad Topic Line`**
    - Zero null value
    - there is 50 sub categores more dominate to other sub categories `Imbalanced Ad topic line attribute`
    
- **`Gender`**
    - zero null value
    - `53.76%` Female and `46.24%` Male `Balanced gender Attribute`

- **`Click on Ad`**
    - Zero null value
    - `50.83%` -> 0 and `49.17%` -> 1 `balanced click on ad attribute`


2. Messay Data

- **`Transformation and scaling`**
    - **`Daily Time Spent on Site`,`Age`,`Area of Income`,`Daily Internet Usage`:-** we apply here Scaling or Transformatkion

In [15]:
ctr.describe()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Clicked on Ad
count,9785.000000,9785.000000,9785.000000,9785.000000,9785.000000
mean,61.601379,35.839550,53948.143348,177.886144,0.488605
std,15.698216,8.538524,13360.051625,40.861875,0.499896
min,32.600000,19.000000,13996.500000,105.220000,0.000000
25%,48.030000,29.000000,44174.250000,140.150000,0.000000
50%,59.590000,35.000000,56180.930000,178.920000,0.000000
75%,76.270000,41.000000,62669.590000,212.870000,1.000000
max,90.970000,60.000000,79332.330000,269.960000,1.000000

In [4]:
ctr=ctr.drop_duplicates()

In [5]:
# ctr_=ctr[~ctr.duplicated()]

In [6]:
ctr

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Gender,Country,Timestamp,Clicked on Ad
0,62.26,32,69481.85,172.83,Decentralized real-time circuit,Lisafort,Male,Svalbard & Jan Mayen Islands,6/9/2016 21:43,0
1,41.73,31,61840.26,207.17,Optional full-range projection,West Angelabury,Male,Singapore,1/16/2016 17:56,0
2,44.40,30,57877.15,172.83,Total 5thgeneration standardization,Reyesfurt,Female,Guadeloupe,6/29/2016 10:50,0
3,59.88,28,56180.93,207.17,Balanced empowering success,New Michael,Female,Zambia,6/21/2016 14:32,0
4,49.21,30,54324.73,201.58,Total 5thgeneration standardization,West Richard,Female,Qatar,7/21/2016 10:54,1
...,...,...,...,...,...,...,...,...,...,...
9994,41.73,28,39799.73,217.37,Realigned intangible benchmark,Dustinchester,Female,Zambia,3/20/2016 2:44,0
9995,41.73,31,61840.26,207.17,Profound executive flexibility,West Angelabury,Male,Singapore,1/3/2016 3:22,1
9996,41.73,28,51501.38,120.49,Managed zero tolerance concept,Kennedyfurt,Male,Luxembourg,5/28/2016 12:20,0
9997,55.60,39,38067.08,124.44,Intuitive exuding service-desk,North Randy,Female,Egypt,1/5/2016 11:53,0
9998,46.61,50,43974.49,123.13,Realigned content-based leverage,North Samantha,Female,Malawi,4/4/2016 7:07,1

In [34]:
ctr['Ad Topic Line'].value_counts().values

array([323, 187, 186, 173, 152, 151, 148, 145, 145, 145, 137, 130, 121,
       119, 108, 108, 106, 106, 105, 101, 100,  96,  94,  94,  93,  92,
        89,  86,  83,  75,  72,  70,  70,  68,  67,  67,  67,  66,  64,
        64,  63,  62,  61,  58,  58,  57,  55,  50,  50,  50,  50,  49,
        48,  46,  45,  44,  42,  41,  41,  40,  40,  39,  39,  39,  38,
        38,  38,  37,  37,  37,  36,  35,  35,  34,  34,  34,  33,  33,
        33,  33,  33,  32,  32,  32,  32,  31,  31,  30,  30,  29,  29,
        29,  29,  29,  28,  28,  28,  28,  27,  27,  27,  26,  26,  26,
        26,  25,  24,  24,  24,  24,  23,  23,  23,  23,  23,  23,  23,
        23,  22,  22,  22,  22,  22,  22,  21,  21,  21,  21,  21,  21,
        20,  20,  19,  19,  19,  18,  18,  18,  18,  18,  18,  17,  17,
        17,  17,  17,  17,  17,  17,  16,  16,  16,  16,  16,  16,  16,
        16,  16,  16,  16,  16,  15,  15,  15,  15,  15,  15,  15,  15,
        14,  14,  14,  14,  14,  14,  13,  13,  13,  13,  13,  13,  13,
        12,  12,  12,  12,  12,  12,  12,  12,  12,  12,  11,  11,  11,
        11,  11,  11,  11,  11,  11,  11,  11,  10,  10,  10,  10,  10,
        10,  10,  10,  10,  10,  10,   9,   9,   9,   9,   9,   9,   9,
         9,   9,   9,   9,   9,   9,   8,   8,   8,   8,   8,   8,   8,
         8,   8,   8,   8,   8,   8,   7,   7,   7,   7,   7,   7,   7,
         7,   7,   7,   7,   7,   7,   7,   7,   7,   7,   7,   7,   7,
         7,   7,   6,   6,   6,   6,   6,   6,   6,   6,   6,   6,   6,
         6,   6,   6,   6,   6,   6,   6,   6,   6,   6,   6,   6,   5,
         5,   5,   5,   5,   5,   5,   5,   5,   5,   5,   5,   5,   5,
         5,   5,   5,   5,   5,   5,   5,   5,   5,   5,   4,   4,   4,
         4,   4,   4,   4,   4,   4,   4,   4,   4,   4,   4,   4,   4,
         4,   4,   4,   4,   4,   4,   3,   3,   3,   3,   3,   3,   3,
         3,   3,   3,   3,   3,   3,   3,   3,   3,   3,   3,   3,   3,
         3,   3,   3,   3,   3,   3,   3,   3,   3,   3,   3,   3,   3,
         3,   3,   3,   3,   3,   3,   3,   3,   3,   3,   3,   3,   3,
         2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,
         2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,
         2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,
         2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,
         2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,   2,
         2,   2,   2,   2,   2,   2,   2,   1,   1,   1,   1,   1,   1,
         1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
         1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
         1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
         1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
         1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
         1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
         1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
         1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1],
      dtype=int64)

In [ ]:
ctr.

In [36]:
ctr['Ad Topic Line'].value_counts().values<50

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [8]:
ctr['Daily Time Spent on Site'].isna().sum()

0

In [9]:
ctr['Age'].isna().sum()

0

In [10]:
ctr['Area Income'].isna().sum()

0

In [11]:
ctr['Ad Topic Line'].value_counts()[0:50]

Ad Topic Line
Cloned explicit middleware                             323
Sharable reciprocal project                            187
Business-focused transitional solution                 186
Intuitive exuding service-desk                         173
Managed client-server access                           152
Optimized upward-trending productivity                 151
Function-based context-sensitive secured line          148
Optional multi-state hardware                          145
Streamlined homogeneous analyzer                       145
Focused coherent success                               145
Enhanced homogeneous moderator                         137
Focused upward-trending core                           130
Innovative interactive portal                          121
Total 5thgeneration standardization                    119
Programmable uniform website                           108
Robust uniform framework                               108
Reverse-engineered maximized focus group               106
Synchronized multi-tasking ability                     106
Inverse local hub                                      105
Secured 24hour policy                                  101
Total cohesive moratorium                              100
Vision-oriented attitude-oriented Internet solution     96
Optional full-range projection                          94
Digitized content-based circuit                         94
Synergistic reciprocal attitude                         93
Configurable tertiary capability                        92
Organized global flexibility                            89
Front-line dynamic model                                86
Customizable modular Internet solution                  83
Up-sized incremental encryption                         75
Synergized coherent interface                           72
Realigned content-based leverage                        70
Function-based incremental standardization              70
Synchronized systemic hierarchy                         68
Self-enabling local strategy                            67
Virtual scalable secured line                           67
De-engineered attitude-oriented projection              67
Cloned object-oriented benchmark                        66
Front-line bandwidth-monitored capacity                 64
Devolved human-resource circuit                         64
Centralized logistical secured line                     63
Proactive actuating Graphical User Interface            62
Up-sized 6thgeneration moratorium                       61
Multi-layered fresh-thinking neural-net                 58
Managed zero tolerance concept                          58
Team-oriented executive core                            57
Synchronized user-facing core                           55
Automated multi-state toolset                           50
Profit-focused dedicated utilization                    50
Business-focused real-time toolset                      50
Name: count, dtype: int64

In [12]:
ctr['Gender'].value_counts()/len(ctr['Gender'])*100

Gender
Female    53.837506
Male      46.162494
Name: count, dtype: float64

In [13]:
ctr['Gender'].isna().sum()

0

In [14]:
ctr['Clicked on Ad'].value_counts()/len(ctr['Clicked on Ad'])*100

Clicked on Ad
0    51.139499
1    48.860501
Name: count, dtype: float64